
body {background-image:url('../img/mesh-background.jpg');}

#containerDiv {
 width:1000px;
 height:600px;
 position:absolute;
 margin-left:-500px;
 left:50%; 
 top:50%;
 margin-top:-300px;
 }

#logoDiv {
top:0px;
left:-10px;
position:absolute;
}

#logo {
width:210px;
height:100px;
}

#controlPanelDiv {
  position:absolute;
  width:250px;
  height:502px;
  top:97px;
  left:0px;
  background-color:#282828; 
  border-radius: 10px;
  white-space: nowrap;
  z-index:100;
 }

#controlPanelShadowDiv {
  position:absolute;
  width:300px;
  height:502px;
  top:97px;
  left:0px;
  background-color:#282828; 
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #080808; 
}

#workpadDiv { 
  width:800px; 
  height:600px; 
  background-color:#282828; 
  position:absolute;
  top:0px;
  left:200px; 
  right:0px; 
  margin:auto;    
  box-shadow: 0px 0px 5px 5px #080808; 
  border-radius: 10px;
  z-index:10; 
}

#videoDiv {
  height:360px;
  width:536px; 
  position:absolute;
  top:120px;
  left:130px;
  border-radius: 10px;
  overflow:hidden;
  z-index:200;
}
#video {
height:360px;
width:540px;
}


#videoCanvasDiv {
  height:600px;
  width:800px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:200; 

}

#svgCanvasDiv {
  position:absolute;
  width:1000px;
  height:600px;
  top:0px;
  left:0px; 
  z-index:300;
 }
