
body {background-image:url('../img/mesh-background.jpg');}

#containerDiv {
 width:1000px;
 height:600px;
 position:absolute;
 margin-left:-500px;
 left:50%; 
 top:50%;
 margin-top:-300px;
 }
/*
#logo {
width:210px;
height:100px;
top:0px;
left:-10px;
position:absolute;
}
*/
#narratorVid {
width:90px;
height:90px;
position:absolute;
z-index:200;
border-radius: 10px;
left:220px;
top:7px;
}

/*
#controlPanelDiv {
  position:absolute;
  width:250px;
  height:502px;
  top:98px;
  left:0px;
  background-color:#282828; 
  border-radius: 10px;
  white-space: nowrap;
  z-index:100;
 }

#controlPanelShadowDiv {
  position:absolute;
  width:300px;
  height:502px;
  top:98px;
  left:0px;
  background-color:#282828; 
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #080808; 
}
*/


#workpadDiv { 
  width:1000px; 
  height:600px; 
  position:absolute;
  background-color:#282828;  
  top:0px;
  left:0px; 
  right:0px; 
  margin:auto;    
  box-shadow: 0px 0px 5px 5px #080808; 
  border-radius: 10px;
  z-index:10; 

}

#mainVideo 

{
  height:360px;
  width:540px;
  position:absolute;
  top:120px;
  left:330px;
  border-radius: 10px;
  overflow:hidden;
  z-index:100; 
  opacity:.2;
}

#canvas {
  position:absolute;
  width:800px;
  height:600px;
  top:0px;
  left:200px; 
  z-index:300;

}

#svgCanvasDiv {
  position:absolute;
  width:1000px;
  height:600px;
  top:0px;
  left:0px; 
  z-index:400;
 }
