#editControlPanelDiv {
position:absolute;
left:400px;
top:650px;
z-index:100;

}

#timeIndexCell {
width:70px;
}

#backwardStepCountField {
width:50px;
}

#forwardStepCountField {
width:50px;
}

#timeReturnField {
width:50px;
}
